{% extends 'base.html' %}
{% load static %}

{% block title %}Portfolio | XAVAGE '21{% endblock %}

{% block content %}

        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 col-8 align-self-center">
                        <h3 class="text">Portfolio</h3>
                      
                    </div>
                    <div class="col-md-7 col-4 align-self-center">
                        <div class="d-flex m-t-10 justify-content-end">
                           
                            <div class="d-flex m-r-20 m-l-10 hidden-md-down">
                                <p>Balance : {{request.user.lauth.balance}}</p>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- Row -->
         
                <!-- Row -->
                <div class="row">
                    <!-- column -->
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Stocks</h4>
                                <div class="table-responsive">
                                    <table id='example23'  class="table">
                                        <thead>
                                            <tr>
                                            
                                            
                                                <th>Stock</th>
                                                <th>Quantity</th>
                                                <th>Average Price</th>
                                                <th>Current Price</th>
                                                <th>Current Value</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                        
                                            {% for item in items %}
                                    <tr>        
                                                <td>{{item.stock}}</td>
                                                <td>{{item.quantity}}</td>
                                                <td>{{item.average_price}}</td>
                                                <td>{{item.price}}</td>
                                                <td>{{item.cp}}</td>
                                    </tr>
                                        {% endfor %}
                                           
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                 
                </div>
                <!-- Row -->
                <!-- Row -->
                
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer">© 2021 Xavage</footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
 

{% endblock %}