{% extends 'base.html' %}
{% load static %}

{% block title %}Portfolio | XAVAGE '21{% endblock %}

{% block content %}

        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 col-8 align-self-center">
                        <h3 class="text">Portfolio</h3>
                      
                    </div>
                  
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- Row -->
         
                <!-- Row -->
                <div class="row">
                    <!-- Column -->
                    
                    <!-- Column -->
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                           
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                        
                                                <th>Stock</th>
                                                <th>Quantity</th>
                                                <th>Investment Amount</th>
                                                <th>Average Price</th>
                                                <th>Latest Value</th>
                                                <th>Overall Gain/Loss(%)</th> 
                                            
                                            </tr>
                                        </thead>
                                        <tbody>
                                            
                                      
                                            <tr>
                                                <td>UBER</td>
                                                <td>100</td>
                                                <td>10000</td>
                                                <td>100</td>
                                                <td>20000</td>
                                                <td>100%</td>
                                                
                                           
                                               
                                           
                                            
                                            </tr>
                                                
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- Column -->


                </div>
              
                <!-- Row -->
                <!-- Row -->
                
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer">© 2021 Xavage 2021</footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
 

{% endblock %}